APP_NAME="Siwel Beatz App"
MONGO_URI=mongodb_uri
PORT=server_port
NODE_ENV=development_or_production
BACKEND_URL=backend_url
FRONTEND_URL=frontend_url
FRONTEND_LOGIN_URL=frontend_login_url
FRONTEND_SIGNUP_URL=backend_signup_url
EMAIL_USER=email_service_user
EMAIL_PASSWORD=email_service_password
ADMIN_EMAIL=admin_email_address
TOKEN_SECRET=token_secret
REFRESH_TOKEN_SECRET=refresh_token_secret
GOOGLE_CLIENT_SECRET=google_client_secret
GOOGLE_CLIENT_ID=google_client_id
GOOGLE_REDIRECT_URL=google_redirect_url
GOOGLE_OAUTH2_URL=https://accounts.google.com/o/oauth2/v2/auth
CLOUDINARY_SECRET=cloudinary_secret_key
CLOUDINARY_NAME=cloudinary_project_name
CLOUDINARY_API_KEY=cloudinary_api_key
SUPABASE_KEY=supabase_key
SUPABASE_SERVICE_KEY=supabase_service_key
SUPABASE_URL=supabase_project_url
AUDIO_FILES_BUCKET=audio_files_bucket_name_in_supabase
DOCUMENT_FILES_BUCKET=document_files_bucket_name_in_supabase
IMAGE_FILES_BUCKET=image_files_bucket_name_in_supabase
REDIS_URL=remote_redisdb_url
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
RESEND_KEY=your_resend_key